{% extends "base.html" %}
{% block title %}EasyPass-Creation{% endblock %}
{% block content %}
<div class="p-3 mb-2 text-white text-center">
	<h2>Password-Creation</h2>
    <hr class="style13">
	<br>
    <p>
        <h4>When is your password "safe" for online-usage?</h4>
        <br>
        Scientists found out - requirements of digits, small letters, capital letters, symbols are good, but make passwords hard to memorize and not really user-friendly. (see more in "the fine print" below)
        So they tried to find other requirements, that are also safe for online-usage. They found out, that your Password counts as safe in an Online-Environment, if...:
        <br><br>
        
        
                <h5>... Option A: Your Password survives 10<sup>6</sup> Guesses of a modern Hacker-Attack simulation and has a minimum length of 10 OR</h5>
            
                <h5>... Option B: Your Password isn't leaked in a large Wordlist (like <a href="https://www.haveibeenpwned.com/Passwords">haveibeenpwned</a>) and has a minimum-length of 8</h5>
                <br>
                <hr class="style13">
                <br>
                <h4> Choose your Option for Password-Creation </h4>
    <br><br>
    <form action="#" method="post">
        <p><input class="btn btn-dark" type="submit" value="A) Minimum Length of 10 & Strength-Check" name="opt"/></p>
        <p><input class="btn btn-dark" type="submit" value="B) Minimum Length of 08 & Wordlist-Check" name="opt"/></p>
    </form>
    <br><br>
    <p> This Password-Creation-"Tool" (or Process) is based on one of the newest Studys and scientific recommendations for Easy Memorizable and Safe Online Passwords <a href="https://www.andrew.cmu.edu/user/nicolasc/publications/Tan-CCS20.pdf">(SOURCE)</a>. <br>Feel free to read it if you are interested, but that is not a must:</p>
    <p>
        <br>
        <hr class="style13">
        <br>
        <h4>The Summary ("the fine print")</h4>
        Scientists found out, that more complex passwords (digits, small letters, capital letters, symbols) are often easier to guess and harder to memorize - 
        mostly because of human behaviour (lazyness - or "the easy way"). As an example say "someone"'s favorite password is "password".
        To fullfill requirements of having at least one digit, one small letters, one capital letter and one symbol, "someone"'s password changed to "Pa$$word1" because - you know - it is the easy way.
        And this ... is bad. Hackers have so called "Wordlists" which contain Millions and more of passwords. With that, they are trying to "guess" Passwords of Accounts. Different 
        Attack-Patterns make it possible to automatically change specific characters with others (like "s" to "$"). Make an experiment. Use the <a href="password_strength">Password-Strength-Check</a>
        on this website first by entering the password "password" and after that by entering the password "Pa$$word1". Compare both. What do you think? Do you think "Pa§§word1" is safer then 4 random words
        which are concenated, like "fishspaghettiteacherapple". Try all of them and see the results (especially times to Guess!)</p>
        <hr class="style13">
        <p> 
        Maybe you realized, that the second password was safer (more scored) then the first one. But did you see the time it needs to crack the password? Think about 18 Minutes to guess a password (Online (none-throttled)).
        Thats no time! Did you checked the Guessing Time of the Password with four concenated words? Awesome right?
    </p>
        <br>
        <img src="{{url_for('static', filename='/templates/password.png')}}">
        <br><br>
        <img src="{{url_for('static', filename='/templates/password1.png')}}">
        <br><br>
        <img src="{{url_for('static', filename='/templates/fishspa.png')}}">
    
    <hr class="style13">
    

       
</div>


{% endblock %}