{% extends "base.html" %}
{% block title %}PWNED{% endblock %}
{% block content %}
<div class="p-3 mb-2 bg-secondary text-white text-center">
	{% if content_bool == "True" %}
	<br>
    <h2>Leak-Check-Results</h2>
    <br>
    <h3>"{{password}}"</h3>
    <br>
    <hr class="style13">
    <br>
	{% if res == "True" %}
	<div class="alert alert-danger" role="alert">
        <h2>DANGER: {{res_content}} <a href="https://www.haveibeenpwned.com/Passwords">(Source)</a></h5>
		<h5>SUGGESTION: Change this Password anywhere you are using it right now!</h5>
		<h5>SUGGESTION: <a href="password_strength">HERE</a> you can check your New Passwords Strength </h5>
    </div>

	{% else %}
	<div class="alert alert-success" role="alert">
        <h2>DANGER: {{res_content}} <a href="https://www.haveibeenpwned.com/Passwords">(Source)</a></h5>
		<h5>SUGGESTION: Check the <a href="password_strength">Strength of your Password</a> to see how fast "Hackers" could crack it!</h5>
		
    </div>
	{% endif %}

	<br>
	<br>
	<hr class="style13">
	<br><br>
	<p>Information: Password-Leak-Check is safely done with the help of <a href="https://haveibeenpwned.com/Passwords">haveibeenpwned</a>.</p>
	<p> Your Passwords will not be send to haveibeenpwned with this check. In the <a href="faq"> FAQ </a> you can find out more how we check the password.</p>
	<br>
	<br>
	<hr class="style13">
	<br><br>
		<a class="btn btn-dark" href="password_pwned" role="button">Check another Password </a> <a class="btn btn-dark" href="password_strength" role="button">Check Password-Strength</a>

	{% else %}
    	<h2>Password-Leak-Check</h2>
		<br>
		<form action="#" method="post">
			<p>Enter Password to check for Leaked-Passwords:</p>
			<p><input type="password" name="pass" size="45" /></p>
			<p>{{content_error}}</p>
			<p><input class="btn btn-dark" type="submit" value="GO! Check if Password is leaked!"/></p>
		</form>
	{% endif %}
</div>
{% endblock %}