{% extends "base.html" %}
{% block title %}STRENGTH{% endblock %}
{% block content %}
<div class="p-3 mb-2 bg-secondary text-white text-center">
	<h2>Password-Strength-Check</h2>
	<br>
	<form type="password" action="#" method="post">
		<p>Enter Password to check for Password-Strength:</p>
		<p><input type="password" autocomplete="new-password" name="pass" minlength="1" size="45" /></p>
		<p>{{content_error}}</p>
		<p><input class="btn btn-dark" type="submit" value="GO! Check Password-Strength!"/></p>
	</form>
</div>
{% endblock %}