{% extends "base.html" %}
{% block title %}EasyPass-HOME{% endblock %}
{% block content %}

<div class="p-3 mb-2 text-white text-center">
	<h2>What is EasyPass?</h2>
    <hr class="style13">

    <p>Good passwords are the most important measures to prevent others (hackers) from gaining access to an account. On the one hand, a good password has a good strength and is not found in word lists. (What is a word list?). EasyPass helps with both of these features.
    </p>

    <p>Easy Pass is a web application that makes it possible to check the security of newly created or existing passwords. On the one hand, EasyPass offers the possibility to check whether your own password (or any other password) has already been published in known data breaches. The site haveibeenpwned.com is used for this. On the other hand, EasyPass gives you the option of evaluating the strength of passwords based on attack patterns that are used in hacking attacks. This is done using zxcvbn.</p>

    <p>the option "check password for leak" gives you the possibility to check if your password is compromised. To do this, an API call is made to the haveibeenpwned page. Your password is not sent to the site, it is converted into a hash and only the first 5 bits of this hash are sent to the haveibeenpwned api. Haveibeenpwned then returns all passwords in its database to this app whose hashes start with those 5 bits. A comparison then takes place. If the entered password hash is identical to one of the hashes returned by haveibeenpwned, the entered password is already doing the rounds on the Internet.</p>
    <p>    <a class="btn btn-dark" href="password_pwned" role="button">Check Password for Leak </a></p>
    <p>The Python library "zxcvbn" is used to evaluate the password strength of an entered password. This module efficiently calculates the strength of passwords. Common attack patterns used by hackers are taken into account. The password is then evaluated based on the number of guess attempts required (i.e. how long or how many attempts it would take for a hacker to crack the password using brute force and word list attacks) and its complexity. You will receive all corresponding values ​​after entering and checking the password for its strength.</p>
    <p> <a class="btn btn-dark" href="password_strength" role="button">Check Password-Strength</a>
</p>
</div>
{% endblock %}